<section class="top">

  <div class="top-texts">
    <p class="top-texts__text"><span class="big-text">Q</span> :「Quick Responseとは？」 = 迅速な対応</p>
  </div>

  <div class="top-main">
    <div class="top-main__heading">
      <h2 class="top-main__heading__text">様々なQRコードの作成ができます（無料）</h2>
    </div>
    <nav class="top-main__nav">
      <ul class="top-main__lists">
        <%= link_to '/top', class: "link" do %>
          <li class="top-main__list point">ファイル</li>
        <% end %>
        <%= link_to '/top', class: "link" do %>
          <li class="top-main__list">URL</li>
        <% end %>
        <%= link_to '/top', class: "link" do %>
          <li class="top-main__list">Wi-Fi</li>
        <% end %>
      </ul>
    </nav>
  </div>

</section>